/*==========Header=====================================================================================*/

#header {
    background-color: var() ;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.imgheader {
    display: flex;
    justify-content: space-around;
}

.const {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*==========Home=====================================================================================*/



#home {
    background: linear-gradient(131.58deg, #00138E 6%, #1CADFF 67.14%, #1BE0E2 97.71%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0 0 300px 0;
    overflow: hidden;

}

.bghome {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;  
}


.home img {
    width: 100%;
    height: 100%;
}

.home {
    padding: 10rem 0rem;
    width: 80%;
}

.home p {
    align-items: left;
    text-align: left;
    font-size: 36px;
    font-weight: 700;
    color: var(--cor-texto);
}

/*==========Sobre Nós=====================================================================================*/

#Sobre {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0rem;
    font-size: 26px;
    font-weight: 700;
}

.sobreinf{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Sobre {
    align-items: center;
    justify-content: left;
    width: 65%;
}

.Sobre h1 {
    font-weight: 700;
    color: var(--cor-principal);
    padding: 0;
    margin: 0;
}

.Sobre p {
    align-items: left;
    text-align: left;
    font-weight: 400;
    padding: 0;
}

.Sobreimg {
    display: flex;
    justify-content: end;
    width: 45%;
}

/*==========Conteudo===========================================================================*/

.Conteudo {
    background: linear-gradient(310.37deg, #00138E 10.43%, #1CADFF 68.35%, #1BE0E2 97.31%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.Conteudo h1 {
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: var(--fundo-principal);
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

.caixas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.caixa {
    background-color: white;
    padding: 13px 10px;
    text-align: center;
    margin-right: 1rem;
    border-radius: 10px;
}

.caixa:nth-child(3) {
    margin-right: 0rem;
}

.caixa p {
    padding:0 1rem;
}

.caixa img {
    border-radius: 7px;
}

.botmais {
    border: 2px solid white;
    border-radius: 13px;
    padding: .3rem 1.5rem;
}

.botmais a {
    font-size: 26px;
    color: white;
}
/*==========Nossa Meta=====================================================================================*/

#Meta {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0rem;
    font-size: 26px;
    font-weight: 700;
}

.Metainf {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Meta h1 {
    align-items: left;
    text-align: left;
    font-weight: 700;
    color: var(--cor-principal);
    padding: 0;
    margin: 0;
}

.Meta p {
    align-items: left;
    text-align: left;
    font-weight: 400;
    padding: 0rem;
}

.imgmeta {
    display: flex;
    justify-content: end;
    width: 45%;
}

/*==========Contato=====================================================================================*/

#Contato {
    background: linear-gradient(131.58deg, #00138E 6%, #1CADFF 67.14%, #1BE0E2 97.71%);   
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 19px 0rem;   
    border-radius: 0 0 0 300px;
    overflow: hidden;
}

.Contato h1 {
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: var(--fundo-principal);
    margin: 0;
    font-size: 40px;
}

.Contato p {
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: var(--cor-texto);
    font-size: 20px;
}

.NomeeEmail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.contatoinf {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;
}

.Contatoinf .botnome, .botemail {
    padding: 1rem;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 40%;
}

.Contatoinf .botmsg {
    align-items: center;
    width: 98.3%;
    padding: 10px 0 5rem 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
}

.Contatoinf .botnome:last-child {
    margin-left: 0rem;
}

.backcontato {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 70%;
}

.imagem {
    justify-content: left;
    align-items: left;
    width: 100%;
    height: 100%;
}


/*==========Baseboard=====================================================================================*/

footer {
    background: #001623;
    margin-top: -1.56rem;
}

.Baseboard {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5rem 0;
}

.Baseboard h1 {
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: var(--fundo-principal);
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.Baseboard p {
    color: var(--fundo-principal);
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    margin-top: .3rem;
    line-height: 1;
    margin-bottom: .1;
}

.imgfooter {
    display: flex;
    justify-content: center;
    margin-top: .1;
}